clojure/day1/.clj-kondo
clojure/day1/.lsp
clojure/day1/psql-demo/.lsp/.cache/db.transit.json

.clj-kondo
.clj-kondo/
.clj-kondo/*

.lsp

c/lecture-1/main
.vscode/settings.json
c/lecture-3/c/main
ossu/intro-cs/introduction-to-computer-science-and-programming-using-python/lecture-4/c/main

thoughts.md
ossu/intro-cs/part-1/lecture-5/c/approximation/main
ossu/intro-cs/part-1/lecture-6/c/main
